html, body {
    color: #c9d1d9;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    background: #0d1117;
}
body {
    padding: 32px;
}

h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #4c5563;
}

h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #4c5563;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.875em;
}

h6 {
    font-size: 0.85em;
    color: #8b949e;
}

a {
    text-decoration: none;
    color: #58abff !important;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color,background-color,box-shadow,border-color;
}
a * {
    color: inherit !important;
}
a:hover {
    color: #58abff !important;
    text-decoration: underline !important;
}
a.nostyle, a.nostyle:visited {
    color: inherit !important;
    text-decoration: inherit !important;
}

p {
    margin-top: 0;
    margin-bottom: 16px;
}

code {
    padding: 0;
    margin: 0;
    display: inline;
    overflow: visible;
    font-size: 85%;
    line-height: 1.45;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    color: #7ee787;
    word-wrap: normal;
    word-break: normal;
    white-space: pre;
    border: 0;
    background-color: transparent;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #161b22;
    border-radius: 6px;
}
pre code {
    font-size: 100%;
    line-height: inherit;
    color: #c9d1d9;
}

hr {
    border-color: #4c5563;
}

* {
    color: #c9d1d9 !important;
}

.swagger-ui svg:not(:root) {
    overflow: hidden;
    fill: #c9d1d9;
}

.swagger-ui select {
    border: 1px solid gray;
    font-weight: 500;
    background: transparent;
}
.swagger-ui select:focus-visible {
    outline: 1px solid rgba(211, 206, 206, 0.48);
}

.swagger-ui textarea {
    background: #161b22;
    font-weight: 400;
}
.swagger-ui textarea:focus {
    border: none;
    outline: 1px solid #61affe;
}

.swagger-ui .btn {
    border: 1px solid gray;
}

.swagger-ui .model-toggle {
    top: 0;
    margin: 2px 2px 2px 10px;
    transform: rotate(-90deg);
}
.swagger-ui .model-toggle.collapsed {
    transform: rotate(90deg);
}
.swagger-ui .model-toggle:after {
    background: url(drop-down.svg) 50% no-repeat;
}

.swagger-ui .opblock-body pre.microlight {
    padding: 16px 18px !important;
    font-weight: 400;
    color: #c9d1d9 !important;
    background: #161b22 !important;
    border-radius: 6px !important;
}

.swagger-ui .response-control-media-type__accept-message,
.swagger-ui .response-control-media-type__accept-message * {
    color: green !important;
}

.swagger-ui table thead tr td,
.swagger-ui table thead tr th {
    border-bottom: 1px solid #4c5563;
}

.swagger-ui .download-contents {
    padding: 5px 10px;
    background: #2c3142;
    font-weight: 500;
}

.swagger-ui .copy-to-clipboard {
    width: 30px !important;
    height: 30px !important;
    background: #2c3142;
    color: #c9d1d9 !important;
}

.swagger-ui .info .title {
    margin-bottom: 10px;
    color: inherit;
}
.swagger-ui .info .title small {
    background: transparent;
    border: 1px solid #7d8492;
}
.swagger-ui .info .title small.version-stamp {
    background: transparent;
    border: 1px solid #89bf04;
}

.swagger-ui .scheme-container {
    display: none;
}

.swagger-ui .opblock-tag {
    border-bottom: 1px solid #4c5563;
}
.swagger-ui .opblock-tag:hover {
    background: #252d3a;
}

.swagger-ui .opblock {
    box-shadow: 0 0 8px rgb(170 148 148 / 29%);
}
.swagger-ui .opblock .opblock-section-header {
    background: #ffffff1c;
}

.swagger-ui .opblock-summary-control .arrow {
    margin-right: 20px;
}
.swagger-ui .models-control:focus,
.swagger-ui .opblock-summary-control:focus {
    outline: 1px solid rgba(211, 206, 206, 0.48);
    border-radius: 4px;
}

.swagger-ui section.models {
    border: 1px solid #4c5563;
}
.swagger-ui section.models.is-open {
    padding: 0;
}
.swagger-ui section.models h4 {
    padding: 5px;
}
.swagger-ui section.models h4 .models-control {
    padding: 6px 0 6px 10px;
}
.swagger-ui section.models.is-open h4 {
    margin: 0;
    border-bottom: 1px solid #4c5563;
}
.swagger-ui section.models h4 svg {
    margin-right: 20px;
}
.swagger-ui section.models .model-container,
.swagger-ui section.models .model-container:first-of-type,
.swagger-ui section.models .model-container:last-of-type {
    margin: 5px;
    background: #1b1c1e;
}
.swagger-ui section.models .model-container:hover,
.swagger-ui section.models .model-container:hover:first-of-type,
.swagger-ui section.models .model-container:hover:last-of-type {
    background: #212428;
}
.swagger-ui section.models .model-box {
    display: block;
}
.swagger-ui section.models .model-box .model-box {
    padding: 0;
}
.swagger-ui section.models .model-box .model-box-control {
    display: flex;
}
.swagger-ui section.models .model-box .model-box-control[aria-expanded=true] {
    margin-bottom: 8px;
}
.swagger-ui section.models .model-box .model-box-control:focus {
    outline: none;
}
.swagger-ui section.models .model-box .model-box-control .model-title {
    font-weight: 500;
}
.swagger-ui section.models .model-box .model .brace-open {
    display: block;
}

.swagger-ui .model  {
    font-weight: 400;
}

.swagger-ui table.model tbody tr td {
    padding: 4px 0;
}
.swagger-ui table.model tbody tr td:first-of-type {
    padding: 4px 0 4px 20px;

}
.swagger-ui table.model tr.property-row td:first-child {
    color: #9876AA !important;
    font-weight: 400 !important;
}
.swagger-ui table.model tr.property-row td:first-child .star {
    top: -2px;
    left: 1px;
    margin-right: 2px;
    color: red !important;
    position: relative;
}
.swagger-ui table.model tr.property-row td:first-child:after {
    content: ":";
    color: #a9b7c6 !important;
}
.swagger-ui table.model tr.property-row td:last-child .prop-name {
    margin-right: 4px;
    color: white !important;
}
.swagger-ui table.model tr.property-row td:last-child .prop-type {
    color: #cc7832 !important;
}
.swagger-ui table.model tr.property-row td:last-child .prop-format {
    margin-left: 4px;
    color: #6897bb !important;
}
.swagger-ui table.model tr.property-row td:last-child .renderedMarkdown p {
    margin: 2px 0 0;
    font-size: 11px;
    color: #808080 !important;
}
.swagger-ui table.model tr.property-row td:last-child .renderedMarkdown p:before {
    content: "//";
}

.swagger-ui table.model .model .model-title .model-hint {
    top: -26px;
    left: -20px;
    padding: 4px 10px;
    font-size: 12px;
}
.swagger-ui table.model .model .model-title .model-title__text {
    color: #FFC66D !important;
    margin-right: 6px;
    font-size: 14px;
}
.swagger-ui table.model .model .model-toggle {
    margin: 0 6px 0 0;
}
.swagger-ui table.model .model .model-toggle:after {
    height: 14px;
    width: 14px;
}

